HTPASSWD_USER=admin
HTPASSWD_PASS=adminpass
SSH_PRIVATE_KEY=<private key of ccw repo here>
BASE_PATH=/data
MYSQL_HOST=db
MYSQL_DB=ccw
MYSQL_USER=ccwdbuser
MYSQL_PASSWORD=PASSWORD
MYSQL_ROOT_PASSWORD=PASSWORD
MYSQL_TAXA_DB=ccw_taxa
MYSQL_LITERATURE_DB=ccw_refs
MYSQL_CITAT_DB=ccw_citats
MINIO_ACCESS_KEY=12345
MINIO_SECRET_KEY=12345678
MINIO_URL_CONFIG=traefik.frontend.rule=Host:ccw-storage.naturalis.nl
CCW_URL_CONFIG=traefik.frontend.rule=Host:ccw.naturalis.nl


